{% extends 'base.html.twig' %}

{% block title %}Edit CategoriesService{% endblock %}

{% block body %}
    <h1>Edit CategoriesService</h1>

    {{ include('categories_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categories_service_index') }}">back to list</a>

    {{ include('categories_service/_delete_form.html.twig') }}
{% endblock %}
