{% extends 'base.html.twig' %}

{% block title %}Edit Administrateurs{% endblock %}

{% block body %}
    <h1>Edit Administrateurs</h1>

    {{ include('administrateurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_administrateurs_index') }}">back to list</a>

    {{ include('administrateurs/_delete_form.html.twig') }}
{% endblock %}
