{% extends 'base.html.twig' %}

{% block title %}New Administrateurs{% endblock %}

{% block body %}
    <h1>Create new Administrateurs</h1>

    {{ include('administrateurs/_form.html.twig') }}

    <a href="{{ path('app_administrateurs_index') }}">back to list</a>
{% endblock %}
