{% extends 'base.html.twig' %}

{% block title %}New ConfigurationsSite{% endblock %}

{% block body %}
    <h1>Créer une nouvelle configuration</h1>

    {{ include('configurations_site/_form.html.twig') }}

    <a href="{{ path('app_configurations_site_index') }}">Retour à la liste</a>
{% endblock %}
