{% extends 'base.html.twig' %}

{% block title %}New Portfolio{% endblock %}

{% block body %}
    <h1>Créer un nouveau Portfolio</h1>

    {{ include('portfolio/_form.html.twig') }}

    <a href="{{ path('app_portfolio_index') }}">Retour à la liste</a>
{% endblock %}
