
body {
    font-family: 'Montserrat', sans-serif; /* On applique la nouvelle police */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.footer {
    background-color: #f8f9fa;
}