{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Editer une nouvelle catégorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}">Retour à la liste</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
